.homeWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cardsWrapper{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    width: 100%;
}